# Python
__pycache__/
*.py[cod]
*.pyo

# Environments
venv/
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
htmlcov/
.coverage

# Logs
*.log

# Pydantic cache
.mypy_cache/
cache/